.about {
  background: #f1f1f1;
  padding: 60px 15px;
}

.about__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about__image {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(204, 204, 204, .5);
  flex: 1 1 400px;
  overflow: hidden;
  margin-bottom: 40px;
}

.about__text {
  color: #1a1a18;
  flex: 3 1 300px;
}

.about__paragraph {
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
}

@media (min-width: 768px) {
  .about__image {
    margin-right: 15px;
  }

  .about__text {
    margin-left: 15px;
  }

  .about__paragraph {
    font-size: 1.125rem;
    padding-right: 50px;
  }
}

.about__paragraph + .about__paragraph {
  margin-top: 20px;
}

.about__paragraph span {
  display: block;
  font-weight: bold;
  margin: 5px 0;
}

.about__link {
  color: #e21a1b;
  font-weight: bold;
  transition: all .5s ease;
}

.about__link:hover {
  color: #c21a1b;
}