*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.title {
  color: #1a1a18;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .2rem;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  content: "";
  display: block;
  background: #1a1a18;
  width: 100px;
  height: 4px;
  margin: 10px auto 60px auto;
  border-radius: 5px;
}

.title--white {
  color: #fdfdfd;
}

.title--white::after {
  background: #fdfdfd;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.button {
  color: #f5f6f6;
  cursor: pointer;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 5px;
  border: 2px solid currentColor;
  border-radius: 5px;
  width: 210px;
  transition: .3s ease;
}

.button:hover {
  letter-spacing: .3rem;
}

.button--black {
  color: #1a1a18;
}

.btn-up {
  display: block;
  width: 30px;
  margin: 0 auto;
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 