.portfolio {
  background: #1a1a18;
  padding: 60px 15px;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio__item {
  border-radius: 5px;
  flex: 1 1 300px;
  height: 300px;
  margin: 20px 15px;
  overflow: hidden;
  position: relative;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0;
}

.portfolio__hover {
  background: rgba(26, 26, 24, .7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: mostrar .5s forwards; 
}

@keyframes mostrar {
  from {
    opacity: 0;
    transform: translate3d(0, 300px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.portfolio__item:hover .portfolio__hover {
  display: flex;
}

.portfolio__text {
  color: #fdfdfd;
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-top: 50px;
}

.portfolio__icons {
  display: flex;
  margin-top: 5px;
}

.portfolio__icon {
  width: 30px;
  margin-right: 3px;
}

.portfolio__button {
  margin: 30px auto;
  color: #f5f6f6;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid currentColor;
  border-radius: 5px;
  transition: .5s ease;
}

.portfolio__button:hover {
  letter-spacing: .2rem;
}

